version: 2
updates:
  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 7
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "gradle"
    cooldown:
      default-days: 7
    directory: "/"
    schedule:
      interval: "monthly"
