name: Publish to Hangar and Modrinth
on:
  push:
    branches:
      - master
      - dev
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish:
    if: github.repository_owner == 'ViaVersion'
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          persist-credentials: false
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # 5.0.0
      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # 5.0.0
        with:
          distribution: 'temurin'
          java-version: 17
          check-latest: true
      - name: Build with Gradle
        run: ./gradlew build
      - name: Publish to Hangar
        env:
          HANGAR_TOKEN: ${{ secrets.HANGAR_TOKEN }}
        run: ./gradlew publishAllPublicationsToHangar --stacktrace
        continue-on-error: true
      - name: Publish to Modrinth
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
        run: ./gradlew modrinth --stacktrace
        continue-on-error: true
