name: Publish to Hangar and Modrinth
on:
  push:
    branches:
      - master
      - dev
  workflow_dispatch:

jobs:
  publish:
    if: github.repository_owner == 'ViaVersion'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
          check-latest: true
      - name: Build
        run: ./gradlew build
      - name: Publish to Hangar
        env:
          HANGAR_TOKEN: ${{ secrets.HANGAR_TOKEN }}
        run: ./gradlew publishAllPublicationsToHangar --stacktrace
        continue-on-error: true
      - name: Publish to Modrinth
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
        run: ./gradlew modrinth --stacktrace
        continue-on-error: true
